.categoryPage .css-1k430x0-MuiButtonBase-root-MuiChip-root{
    background-color: #3c228a;
    color: #fff;
    padding: 20px 25px;
    font-size: 14px;
}

.categoryPage .css-w4z10b-MuiStack-root svg{
    color: #fff;
}