.categoryPage .css-1k430x0-MuiButtonBase-root-MuiChip-root{
    background-color: #3c228a;
    color: #fff;
    padding: 20px 25px;
    font-size: 14px;
}

.categoryPage .css-w4z10b-MuiStack-root svg{
    color: #fff;
}

.categoryPage h1{
    text-align: center;
    margin-bottom: 40px;
}

.categoryPage p{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}
.doneEdit{
    text-align: center;
}
.doneEdit svg{
    background-color: white;
    border-radius: 50%;
    color: #3c228a;
    border-color: 1px solid black;
}